* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  background: silver;
  font-family: Arial, 'Montserrat', sans-serif;
}

header {
  width: 80%;
  height: 5rem;
  padding: 15px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: #333;
  border-bottom: 2px solid #333;
  color: #fff;
}

header .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: bisque;
}

header nav a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 1.5rem;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  padding: 1.5rem 10%;
  margin: auto 0;
}

    main label {
        width: 100%;
        margin-top: 1rem;
        display: block;
        font-size: 1rem;
    }

    main input:not([type="submit"]) {
        width: 50%;
        padding: 1rem 1.2rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border: 1px solid silver;
        outline:none;
        margin-top: 0.7rem;
    }
    main input[type="submit"] {
        width: 20%;
        padding: 1rem 0;
        text-align: center;
        border-radius: 0.5rem;
        border: 0;
        margin-top:0.7rem;
        background: #ff6a00;
        font-weight: bold;
        color: #833904;
        cursor: pointer;
    }
    main input[type="submit"]:hover {
        background: #d96614;
    }
    main form span {
        color: #ff0000;
        font-weight: bold;
        display: block;
        margin: 5px 0;
    }
footer {
  width: 100%;
  margin-top: 15rem;
  text-align: center;
  padding: 2.5rem 0;
  color: #fff;
  background: #333;
  border-top: 2px solid #000;
}